body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(Banner_Ghost.jpg);
    background-repeat: no-repeat;
    @media (min-width: 600px) {
}}
header {
    padding: 1rem;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
ul li {
    margin: 0 1rem;
}
#logo {
    width: 150px;
}
nav ul {
    justify-content: center;
    flex-grow: 1;
}
.about-guild {
    padding: 2rem;
    text-align: center;
    color: white;
}
.about-guild h1 {
    margin-bottom: 1rem;
}
.about-guild p {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}